<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include 'menu.html' %}
<h3>Dodawanie pracownika</h3>
<form method="POST">
    <table border="1">
        <tr><th>Imię</th><td><input type="text" name="first_name"/></td></tr>
        <tr><th>Nazwisko</th><td><input type="text" name="last_name"/></td></tr>
        <tr><th>Telefon</th><td><input type="text" name="phone_number"/></td></tr>
        <tr><th>Stanowisko</th><td><input type="text" name="position"/></td></tr>
    </table>
    <input type="submit" value="Zapisz"/>
</form>
</body>
</html>